@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    margin-top: 45px;
}

body {
    width: 100%;
    font-family: "open sans";
}

.slider-text, span {
    font-family: "playfair display";
}

nav {
    width: 100%;
    background-color: #242626;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#logo {
    font-size: 30px;
    position: relative;
    line-height: 90px;
    left: 35px;
    vertical-align: middle;
    float: left;
    color: #D1E9E6;
}

nav ul {
    float: right;
    margin-right: 35px;
}

ul li {
    list-style-type: none;
    line-height: 89px;
    vertical-align: middle;
    display: inline;
    padding: 15px;
}

ul li:hover {
    text-decoration: underline;
}

nav a {
    color: #F7F7F7;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.menu ul {
    display: block;
}

.toggle-box {
    width: 30px;
    height: 30px;
    background-color: #242626;
    float: right;
    margin-top: 30px;
    margin-right: 35px;
    display: none;
}

hr {
    width: 80%;
    margin: 0 auto;
    margin-top: 5px;
    height: 1px;
    background-color: #D1E9E6;
}

.menu-open {
    width: 100%;
    background-color: #282828;
    text-align: center;
    height: 120px;
    position: fixed;
    display: none;
    z-index: 1;
}

.menu-open ul {
    float: right;
}

.menu-open ul li {
    display: block;
    width: 25%;
    line-height: 20px;
    float: left;
}

.menu-open ul li a {
    color: white;
}

.active {
    color: #D1E9E6;
}

h1 {
    font-size: 48px;
    position: absolute;
    color: #FFFFFF;
    top: 235px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
    width: 100%;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    height: 446px;
}

.main-wrapper {
    display: block;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    margin-top: 30px;
}

.main-content {
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
}

.main-content img {
    width: 91%;
}

#mainContent-internBox {
    position: absolute;
    top: 30px;
    left: 40px;
    background-color: #90ABCA;
    font-size: 10px;
    padding: 5px 13px 5px 13px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

h2 {
    font-size: 24px;
}

#content-author {
    font-size: 10px;
    margin-left: 5px;
    padding-top: 25px;
}

.inner-text {
    text-align: left;
    color: #FFFFFF;
    position: absolute;
    bottom: 30px;
    left: 40px;
    width: 170px;
}

#slider {
    background-color: #F7F7F7;
    float: left;
    margin: 24px 13px 15px 13px;
}

#slider-top {
    color: #242626;
    border-bottom: 1px solid #DEDEDE;
    height: 45px;
}

#slider-header {
    font-weight: bold;
    font-size: 12px;
    width: 90%;
    line-height: 45px;
    vertical-align: middle;
    float: left;
    margin-left: 20px;
}

button {
    width: 35px;
    height: 30px;
    border: none;
    background-color: white;
    margin-top: 8px;
    outline: none;
    margin-right: 5px;
}

#slider-buttons {
    display: flex;
}

#prev-btn {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

#prev-btn:hover {
    background-color: #F1EEEE;
}

#next-btn {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}

#next-btn:hover {
    background-color: #F1EEEE;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.2} 
  to {opacity: 1}
}

.slider-box {
    padding: 35px 20px;
}

h3 {
    font-size: 10px;
    padding-bottom: 14px;
}

.green {
    color: #68B17E;
}

.pink {
    color: #FE66D5;
}

.orange {
    color: #FB7A2D;
}

.blue {
    color: #4894D4;
}

.slider-text {
    font-size: 18px;
    color: #242626;
    font-weight: bold;
    border-bottom: 1px solid #242626;
}

a {
    text-decoration: none;
}

.slider-author {
    font-size: 12px;
    color: #878787;
    padding-top: 30px;
}

.slider-content {
    display: flex;
    text-align: center;
    height: 230px;
}

#secondary-wrapper {
    padding: 13px;
    width: 100%;
    display: inline-block;
}

.secondary-content {
    background-color: #A3AAAA;
    color: #FFFFFF;
    width: 274px;
    height: 140px;
    float: left;
    text-align: center;
}

.spacer {
    width: 26px;
    height: 140px;
    float: left;
}

.secondary-title {
    font-size: 10px;
    position: absolute;
    margin-left: 30px;
    padding: 5px 8px;
    background-color: #FC7625;
    letter-spacing: 1px;
}

#secondTitleColor {
    background-color: #68B17E;
}

.secondary-content p {
    font-size: 18px;
    position: absolute;
    width: 190px;
    text-align: left;
    margin: 50px 30px;
    font-weight: bold;
}

.secondary-content img {
    height: 100%;
}

#secondaryContent-RightSide {
    background-color: #F7F7F7;
    width: 48%;
    float: left;
    padding-bottom: 7px;
}

.tinySection {
    padding: 28px 20px;
    width: 43%;
    float: left;
    display: inline-flex;
}

.tinySection img {
    height: 50%;
}

.rightTinySection {
    margin-left: 15px;
}

.tinySection p {
    font-size: 14px;
    width: 170px;
    margin-top: -8px;
    font-weight: bold;
    color: #282A2A;
}

footer {
    width: 100%;
    background-color: #27282A;
    float: left;
    margin-top: 10px;
    text-align: center; 
}

#footer-section {
    max-width: 1200px;
    display: block;
    position: relative;
    margin: 0 auto;
}

h4 {
    padding: 30px;
    font-size: 22px;
    color: #FFFFFF;
}

.outer-box {
    float: left;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.width25 {
    width: 25%;
}

.width50 {
    width: 50%;
}

.box {
    background-color: #D1E9E6;
    margin: 0 auto;
    margin-right: 13px;
    margin-left: 13px;
    padding-bottom: 1px;
}

.innerBox-top {
    background-color: #E8F4F3;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 0 105px;
    padding: 6px;
    color: #242626;
}

.innerBox-bottom {
    background-color: #FFFFFF;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 8px;
    margin: 20px 90px 20px;
    color: #333535;
}

.box-title {
    font-size: 24px;
    padding: 20px 40px;
    color: #242626;
}

.box-text {
    font-size: 12px;
    color: #777777;
    padding: 0 40px;
}

.box50 {
    background-color: #EDEDED;
    float: left;
    display: flex;
    margin: 0 13px;
}

.box50 img {
    height: 264px;
    margin: 40px 10px 0 40px;
}

.subcolumn-right {
    text-align: left;
    float: left;
    margin: 40px 0;
}

#subcolumn-title {
    font-size: 10px;
    letter-spacing: 1px;
    color: #282A2A;
    margin-left: 40px;
}

.subcolumn-right .innerBox-bottom {
    background-color: #DFA006;
    margin: 0 270px -3px 40px;
    color: white;
    text-align: center;
    margin-top: 25px;
}

.footer-down {
    border-top: 1px solid #3B3C3E;
    margin-top: 40px;
    margin-bottom: 30px;
    float: inherit;
    width: 90%;
    margin-left: 5%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 60px;
}

.footer-left {
    text-align: left;
}

h5 {
    color: #D1E9E6;
    font-size: 24px;
    font-weight: normal;
}

.footer-left p {
    color: #737373;
    font-size: 12px;
    margin-top: 10px;
}

.footer-nav {
    width: 59%;
    margin-left: 50px;
    margin-top: -32px
}

.footer-nav ul {
    margin-bottom: -15px
}

.footer-nav ul li a {
    font-size: 12px;
    font-weight: bold;
    color: #FDFDFD;
}

.footer-nav p {
    color: #737373;
    text-align: left;
    font-size: 12px;
    margin-left: 33px;
}

.footer-right {
    text-align: right;
}

#footerRight-innerBox {
    float: right;
    width: 150px;
    margin-right: -20px;
}

.footer-right button {
    background-color: #27282A;
    color: white;
    border-radius: 50%;
    border: 1px solid #737373;
    height: 34px;
    margin: 0 5px;
    float: left;
}

#facebook-btn:hover {
    background-color: #3B5998;
}

#twitter-btn:hover {
    background-color: #1DA1F2;
}

#be-btn:hover {
    background-color: #F55241;
}

.footer-right button img {
    height: 20px;
    margin-top: 3px;
}

#subscribe-btn {
    width: 70%;
    border-radius: 40px 40px 40px 40px;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 10px 16px;
    height: 32px;
}

#subscribe-btn:hover {
    background-color: #E8B93C;
}

.centering {
    margin: 0 auto;
}



@media (max-width: 380px) {
    .menu-open {
        height: auto;
    }
    
    div .inner-text h2 {
        width: 150%;
    }
    
    div .box50 img {
        display: none;
    }
    
    div .width25 .box .innerBox-bottom {
        width: 40%;
        margin: 0 auto;
    }
    
    .box a {
        margin: 1px;
    }
    
    div .box50 .innerBox-bottom {
        margin: 0 auto;
        width: 40%;
        margin-top: 25px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    div .footer-nav {
        margin-left: 0;
    }
    
    .width25 {
        width: 50%;
    }
    
    div .footer-nav p {
        width: 120%;
        position: relative;
        left: -20px;
    }
    
    #footerRight-innerBox {
        margin-right: 10px;
    }
}



@media (max-width: 480px) {
    #logo {
        font-size: 150%;
    }
    .wrapper .main-content {
        width: 100%;
    }
    
    .inner-text h2 {
        font-size: 200%;
        width: 200%;
    }
    
    #mainContent-internBox {
        font-size: 100%;
    }
    
    #content-author {
        font-size: 100%;
    }
    
    .main-wrapper #slider {
        margin-right: 16px;
    }
    
    #secondary-wrapper .secondary-content {
        width: 94%;
        height: 250px;
        margin-bottom: 13px;
    }
    
    #secondary-wrapper .secondary-content p {
        width: 80%;
        margin-top: 80px;
        font-size: 200%;
    }
    
    #secondaryContent-RightSide .tinySection p {
        width: 100%;
        font-size: 100%;
    }
    
    div #secondaryContent-RightSide .tinySection {
        width: 94%;
        margin: 8px 0 12px 8px;
    }
    
    div #secondary-wrapper #secondaryContent-RightSide {
        width: 94%;
    }
    
    .secondary-title {
        font-size: medium;
    }
    
    h3 {
        font-size: 100%;
    }
    
    #footer-section .width25 {
        width: 97%;
        margin-bottom: 16px;
        font-size: 150%;
    }
    
    .innerBox-top {
        font-size: medium;
    }
    
    .box .box-text {
        font-size: 80%;
    }
    
    .width25 .box .innerBox-bottom {
        font-size: 70%;
        margin: 22px 33%;
    } 
    
    div .outer-box .box50 {
        width: 192%; 
        margin-top: 0;
    }
    .subcolumn-right .box-title {
        font-size: 150%;
    }
    
    .subcolumn-right #subcolumn-title {
        font-size: 90%;
    }
    
    .subcolumn-right .box-text {
        font-size: 100%;
    }
    
    .subcolumn-right .innerBox-bottom {
        font-size: 90%;
    }
    
    .footer-nav ul {
        width: 90%;
    }
    
    .footer-nav p {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .footer-down .footer-nav ul li {
        display: block;
        margin-bottom: 5px;
    }
}



@media (max-width: 768px) {
    body {
        float: left; 
    }
    
    .menu ul {
        display: none;
    }
    
    .toggle-box {
        display: block;
    }
    
    h1 {
        font-size: 250%;
    }
    
    .main-content {
        width: 50%;
        margin-bottom: 12px;
    }
    
    #slider {
        margin: 0 13px;
    }
    
    #slider-buttons {
        float: right;
        margin-top: -45px;
    }
    
    .slider-box {
        padding: 15px 0;
    }
    
    .slider-content {
        height: auto;
    }
    
    .main-wrapper .secondary-content {
       width: 47%;
    }
    
    #secondary-wrapper #secondaryContent-RightSide {
        width: 96%;
        margin-top: 10px;
    }
    
    #secondaryContent-RightSide  .tinySection {
        margin: 0;
        width: 50%; 
        margin-top: 12px; 
    }
    
    .outer-box {
        width: 49%;
    }
    
    .outer-box .box50 {
        margin-top: 12px;
        width: 195%
    }
    
    a > .innerBox-bottom {
        width: 30% 
    }
    
    .footer-nav ul {
        margin-top: 32px;
        margin-bottom: 25px;
    }
    
    .footer-nav ul li {
        line-height: 0;
    }
}



@media (max-width: 980px) {
    nav ul li {
        padding: 5px;
    }
    
    h2 {
        font-size: 100%;
        margin-right: 40px;
    }
   
    #secondary-wrapper {
        width: 100%;
    }
    
    .secondary-content p {
        font-size: 100%;
        width: 20%;
    }
    
    .slider-text {
        font-size: 80%;
    }
    
    .tinySection {
        padding: 0;
        margin-right: 65px;
    }
    
    .tinySection p {
        font-size: 70%; 
    }
    
    .tinySection-break {
        margin-top: 18px;
    }
    
    .box-title {
        font-size: 100%;
    }
    
    .innerBox-bottom {
        
        width: 40%;
    }
    
    .box50 img {
        margin: 0;
        max-width: 100%;
        max-height: 100%;
    }
    
    .footer-nav {
        margin: 0;
        width: 100%;
        margin-top: -32px;
    }
}



@media (max-width: 1200px) {
    #secondary-wrapper {
        float: left;
    }
    
    .secondary-content {
        float: left;
        width: 23%;
        margin-right: 10px;
    }
    
    .spacer {
        display: none;
    }
    
    .tinySection {
        width: 40%;
    }
    
    #secondaryContent-RightSide {
        margin: 0;
        width: 49%;
    }
    
    .rightTinySection p {
        padding-bottom: 0;
    }
    
    .box {
        margin: 0;
        margin-left: 13px;
    }
    
    .box .innerBox-bottom {
        margin: 22px 30%;
    }
    
    .innerBox-top {
        margin: 0 36%;
    }
    
    .box .box-text {
        padding: 0;
    }
    
    .box50 {
        width: 95%;
    }
    
    .box50 img {
        max-width: 100%;
        max-height:100%;
        margin-top: auto;
    }
    
     .box50 .innerBox-bottom {
        margin: 22px 36% -12px;
    }
    
    .footer-nav ul li {
        padding: 5px;
    }
}