@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
    font-family: "open sans";
    color: #2A2A2A;
}

.logo {
    background-color: #E5E5E5;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto; 
    margin-bottom: 40px;
    -webkit-animation: pulsate 2s ;
    -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1.0, 1.0); 
        opacity: 0.5;
    }
    50% {
        -webkit-transform: scale(1.2, 1.2); 
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.0, 1.0); 
        opacity: 0.5;
    }
}

.logo p {
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

#login-container {
    width: 32%;
    text-align: center;
    margin: 0 auto;
    margin-top: 9%;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 100;
}

#login-container label {
    display: block;
    font-size: 14px;
    color: #E5E5E5;
    float: left;
    margin-bottom: 3px;
    font-weight: bold;
}

#login-container input {
    border: 2px #E5E5E5 solid;
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    outline-color: #B2ADAB;
}

form> #login-btn {
    font-size: 22px;
    color: #00ab6b;
    display: block;
    margin: 0 auto; 
    width: 42%;
    border-radius: 40px 40px 40px 40px;
    border: 1px #00ab6b solid;
    background-color: white;
    margin-top: 20px;
    height: 46px;
    outline: none;
    transition: 0.3s;
}

form>#login-btn:hover {
    background-color: #00ab6b;
    color: white;
}

.error-msg {
    transition: 0.4s;
    color: red;
    margin-top: 20px;
}

#dashboard-container {
    text-align: center;
    margin: 0 auto;
    width: 48%;
    margin-top: 3%;
    font-size: 16px;
}

.list-container {
    margin-bottom: 50px;
    margin-top: 40px;
    float: left;
}

.list-container p {
    float: left;
    text-align: left;
    padding-bottom: 10px;
    width: 470px;
}

.list-container span {
    padding-bottom: 10px;
    float: right;
}

.list-container span a {
    padding-left: 7px;
    text-decoration: none;
}

p #post-link {
    text-decoration: none;
}

p #post-link:hover {
    text-decoration: underline;
}

#edit-anchor {
    color: #00ab6b;
}

#edit-anchor:hover {
    text-decoration: underline;
}

#remove-anchor {
    color: #E3464E;
}

#remove-anchor:hover {
    text-decoration: underline;
}

#dashboard-container input {
    font-size: 22px;
    margin: 0 auto; 
    width: 34%;
    border-radius: 40px 40px 40px 40px;
    background-color: white;
    height: 46px;
    outline: none;
}

#newpost-btn {
    color: #00ab6b;
    border: 1px #00ab6b solid;
    transition: 0.3s;
}

#newpost-btn:hover {
    background-color: #00ab6b;
    color: white;
}

#logout-btn {
    color: #E3464E;
    border: 1px #E3464E solid;
    transition: 0.3s;
}

#logout-btn:hover {
    background-color: #E3464E;
    color: white;
}

#dashboard-container> form> span {
    margin-right: 15px;
    margin-left: 15px;
}

#post-editor-container {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
}

#post-editor-container label {
    display: block;
    font-size: 14px;
    color: #E5E5E5;
    margin-bottom: 3px;
    font-weight: bold;
    text-align: left;
}

#post-editor-container input {
    border: 2px #E5E5E5 solid;
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    outline-color: #B2ADAB;
}

#upload-section {
    display: inline-flex;
    float: left;
    width: 100%;
}

#file-btn {
    cursor: pointer;
    width: 50%;
    height: 38px;
    background-color: #E5E5E5;
    margin-right: 50px;
}

#file-btn p {
    color: white;
    line-height: 38px;
    vertical-align: middle;
    font-size: 16px;
}

#file {
    display: none;
}

#display-image {
    width: 100px;
    height: 60px;
    margin-top: -10px;
}

#display-image:hover {
    transition: 0.4s;
    transform: scale(1.5);
    background-position: top; 
}

#upload-report {
    text-align: left;
    color: #00ab6b;
    position: relative;
    top: -10px;
    display: none;
}

#post-editor-container textarea {
    float: left;
    width: 100%;
    height: 180px;
}

#post-editor-container #publish-btn {
    font-size: 22px;
    color: #00ab6b;
    display: block;
    margin: 0 auto; 
    width: 44%;
    border-radius: 40px 40px 40px 40px;
    border: 1px #00ab6b solid;
    background-color: white;
    height: 44px;
    outline: none;
    position: relative;
    top: 35px;
    margin-bottom: 40px;
    transition: 0.3s;
}

#post-editor-container #publish-btn:hover {
    background-color: #00ab6b;
    color: white;
}

#homepage-container {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.homepage-post {
    width: 49%;
    float: left;
    margin-top: 20px;
    margin-bottom: 35px;
}

.homepage-post:nth-child(2n+1) {
    margin-left: 5px;
}

.homepage-img {
    margin: 0 auto;
    width: 95%;
    height: 170px;
}

.homepage-img:nth-child(2n+1) {
    margin-right: 0px;
}

#date {
    font-size: 16px;
    color: #313131;
    margin-top: 7px;
    margin-bottom: 4px;
}

.homepage-post a {
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    font-weight: bold;
}

.homepage-post a:hover {
    text-decoration: underline;
}

#post-container {
    width: 74%;
    margin: 0 auto;
    margin-top: 40px;
}

.post-img {
    width: 100%;
    height: 500px;
}

.post-details {
    padding: 30px;
}

h2 {
    font-size: 40px;
    line-height: 46px;
}

h3 {
    font-size: 27px;
    line-height: 34px;
    color: #A6A6A6;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: 100;
}

.post-details p {
    font-size: 22px;
    line-height: 32px;
    font-family: "Times New Roman", Times, serif;
}

#back-btn {
    font-size: 22px;
    display: table;
    margin: 0 auto;
    width: 24%;
    border-radius: 40px 40px 40px 40px;
    background-color: white;
    height: 46px;
    outline: none;
    border: 1px #00ab6b solid;
    margin-bottom: 80px;
    margin-top: 20px;
    transition: 0.3s;
    text-align: center;
}

#back-btn:hover {
    background-color: #00ab6b;
    color: white;
}

#post-container a {
    text-decoration: none;
}

#back-btn p {
    color: #00ab6b;
    line-height: 46px;
    vertical-align: middle;
    transition: 0.3s;
}

#back-btn p:hover {
    color: white;
}

#display-image, .homepage-img, .post-img {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;   
}



@media (max-width: 480px) {
    #login-container input {
        height: 50px;
    }
    
    html > body > #login-container {
        width: 72%;
    }
    
    body > #post-editor-container {
        width: 90%;
    }
    
    body .list-container p {
        width: 100%;
        text-align: center;
    }
    
    body .list-container span {
        width: 100%;
        margin-top: -8px;
        margin-bottom: 5px;
    }
    
    body > #dashboard-container form input {
        width: 80%;
    }
    
    html > body > #homepage-container {
        width: 90%;
    }
    
    .homepage-post {
        float: none;
        width: 100%;
        margin-left: -7px;
    }
    
    .homepage-post:nth-child(2n+1) {
        margin-left: -8px;
    }
    
    html body #post-container form input {
        width: 80%;
    }
    
    .post-details {
        margin-left: -20px;
        width: 100%;
        margin-top: -30px; 
    }
    
    body #post-container #back-btn {
        width: 80%;
    }
}


@media (max-width: 768px) {
    body > #login-container {
        width: 52%;
    }
    
    .list-container {
        font-size: 90%;
    }
    
    #dashboard-container form input {
        width: 50%;
    }
    
    #dashboard-container form span {
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    body > #homepage-container {
        width: 100%;
    }
    
    body .post-img {
        height: 200px;
    }
    
    body #post-container form input {
        width: 60%;
    }
    
    #post-container #back-btn {
        width: 60%;
    }
}


@media (max-width: 980px) {
    #login-container {
        width: 42%;
    }
    
    #post-editor-container {
        width: 60%;
    }
    
    #dashboard-container {
        width: 80%;
    }
    
    #homepage-container {
        width: 80%;
    }
    
    .post-img {
        height: 300px;
    }
    
    #back-btn {
        width: 40%;
    }
}


@media (max-width: 1200px) {
     .list-container p {
        width: 70%;
    }
}