<div class="drag-drop-content">
    <div id="box-wrapper" class="box-wrapper">
        <div class="drag-box">
            Box 1
            <div class="remove-btn">x</div>
        </div>
        <div class="drag-box">
            Box 2
            <div class="remove-btn">x</div>
        </div>
        <div class="drag-box">
            Box 3
            <div class="remove-btn">x</div>
        </div>
        <div class="drag-box">
            Box 4
            <div class="remove-btn">x</div>
        </div>
        <div class="drag-box">
            Box 5
            <div class="remove-btn">x</div>
        </div>
        <div class="drag-box">
            Box 6
            <div class="remove-btn">x</div>
        </div>
    </div>
    <div id="drop-area" class="drop-area">
        <span>DROP AREA</span>
    </div>
</div>
