<div class="zoom-content">
    <div class="images-container">
        <div class="image-holder">
            <div class="image">
                <img src="assets/images/nature_01.jpg" alt="img01">
            </div>
            <p>zoom in and out - mouse wheel</p>
        </div>
        <div class="image-holder">
            <div class="image">
                <img src="assets/images/nature_02.jpg" alt="img02">
            </div>
            <p>zoom in and out - hover over image</p>
        </div>
    </div>
</div>
